@model BlockBuster.Models.Titulo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Titulo</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sinopse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sinopse)
            @Html.ValidationMessageFor(model => model.Sinopse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrigemTitulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrigemTitulo)
            @Html.ValidationMessageFor(model => model.OrigemTitulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ano)
            @Html.ValidationMessageFor(model => model.Ano)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TipoTituloId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoTituloId)
            @Html.ValidationMessageFor(model => model.TipoTituloId)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
