@model BlockBuster.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<link href="../../Content/Bootstrap/css/signin.css" rel="stylesheet">
<div class="container">
    @using (Html.BeginForm("Login", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <h2 class="form-signin-heading">Logar</h2>
        @Html.TextBox("UserName", null, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.UserName)

        @Html.Password("Password", null, new { @class = "form-control", placeholder = "Senha" })
        @Html.ValidationMessageFor(m => m.Password)

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    }
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</div>
<!-- /container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
