@model BlockBuster.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<link href="../../Content/Bootstrap/css/signin.css" rel="stylesheet">
<div class="container">
    @using (Html.BeginForm("Register", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <h2 class="form-signin-heading">Registrar-se</h2>
        @Html.TextBox("UserName", null, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.UserName)

        @Html.Password("Password", null, new { @class = "form-control", placeholder = "Senha" })
        @Html.ValidationMessageFor(m => m.Password)

        @Html.Password("ConfirmPassword", null, new { @class = "form-control", placeholder = "Confirmar Senha" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
